
@tailwind base;
@tailwind components;
@tailwind utilities;

#result {
    @apply grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1;
}

* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

label {
    @apply font-bold;
}

button {
    @apply border-2 my-2 mx-auto py-2 px-5 rounded-full;
}

select {
    @apply border-2 rounded-full mx-auto py-1 my-2 min-w-32;
}

option {
    @apply text-center;
}

input {
    @apply border-2 rounded-full m-2 p-2 text-center;
}

.property-div{
    @apply flex flex-col border-2 rounded-lg m-2;
}

