
@tailwind base;
@tailwind components;
@tailwind utilities;

#result {
    @apply grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 w-4/5 my-2 mx-auto;
}

* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

label {
    @apply font-bold;
}

button {
    @apply border-2 my-2 mx-auto py-2 px-5 rounded-full;
}

select {
    @apply border-2 rounded-full mx-auto py-1 my-2 min-w-36;
}

option {
    @apply text-center;
}

input {
    @apply border-2 rounded-full m-2 p-2 text-center;
}

a {
    @apply underline;
}

.property-div{
    @apply flex flex-col border-2 rounded-lg m-2 text-center;
}

.map {
    @apply sm:w-3/5 w-4/5 h-full border-2 sm:mx-0 mx-auto;
}

#map-route {
    @apply border-2 max-w-52 h-full sm:m-0 mx-auto my-2;
}

.location-option {
    @apply absolute border-2 p-2 m-2 rounded-lg border-black bg-white left-0 right-0 top-0 flex-col text-sm;
}

.location-option-button {
    @apply m-1 border rounded-lg;
}