
@tailwind base;
@tailwind components;
@tailwind utilities;

#result {
    @apply grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 w-4/5 my-2 mx-auto;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    @apply h-screen bg-background;
} 

#body {
    @apply h-screen flex flex-col bg-background px-3 justify-start;
}

label {
    @apply font-bold;
}

button {
    @apply my-2 mx-auto py-2 px-5 rounded-full bg-primary text-accent;
}

button:hover {
    @apply font-bold;
}

input, select {
    @apply border-2 rounded-full mx-auto py-1 my-2 w-36 max-w-full text-center;
}

input {
    @apply px-3;
}

#use-state {
    @apply w-fit;
}

option {
    @apply text-center;
}

a {
    @apply underline;
}

.property-div{
    @apply flex flex-col border bg-white border-primary rounded-lg m-2 text-center hover:-translate-y-1 hover:shadow-xl transition-all;
}

#map-route {
    @apply border border-primary max-w-52 h-96 sm:m-0 mx-auto my-2 rounded-lg sm:rounded-l-lg sm:rounded-r-none;
}

.map {
    @apply sm:w-3/5 w-4/5 h-96 border border-primary sm:mx-0 mx-auto rounded-lg sm:rounded-r-lg sm:rounded-l-none;
}

.location-option {
    @apply absolute border-2 p-2 m-2 rounded-lg border-primary bg-white left-0 right-0 top-0 flex-col text-sm;
}

.location-option-button {
    @apply m-1 border rounded-lg;
}